<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Edit User</h2>

<form method="POST" action="/admin/users/update/{{ .user.ID }}">
    <div>
        <label>Username</label>
        <input type="text" name="username" value="{{ .user.Username }}">
    </div>


     <div>
        <label>Email</label>
        <input type="text" name="email" value="{{ .user.Email }}">
    </div>

    <div>
    <label>Active</label>
    <select name="is_active">
        <option value="true" {{ if .user.IsActive }}selected{{ end }}>Yes</option>
        <option value="false" {{ if not .user.IsActive }}selected{{ end }}>No</option>
    </select>
</div>



    <!-- add more fields as needed -->
    
    <button type="submit" class="btn btn-success">Save</button>
    <a href="/admin/users" class="btn btn-secondary">Cancel</a>
</form>

</body>
</html>